<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App communicates using Core Bluetooth</key>
	<string>App uses bluetooth to talk and search other contatcs</string>
	<key>Privacy – Bluetooth Peripheral Usage Description</key>
	<string>App uses bluetooth to talk and search other contatcs</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>App communicates using Core Bluetooth</string>
	</array>
</dict>
</plist>
